*{
    margin: 0;
    padding: 10;
    font-family: poppins, sans-serif;
    border: border-box;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.btn {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
}

/* backgrond image to hero */
.hero {
    min-height: min-content;
    background: url(heropic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0px;
    height: 100vh;

}

/* header stays fixed to top */
.header {
    position: fixed;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
}

/* align items in navbar */
.header a {
    display: flex;
    align-items: center;
}

.header .navbar {
    display: flex;
}

.logo {
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 2px;
}

/* styling navbar anchor tags */
.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

.navbar a::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #094c09;
    transition: 1s;
 
}

.navbar a:hover::before {
    width: 100%;
}

/* style hero text */
.hero pre{
    color: white;
    font-size: 4.5rem;
}

/* position sticky */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-text{
    align-self: flex-end;
    margin-right: 18rem;
}

/* Style and position button */
.hero-text button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    width: 26rem;

    align-self: flex-end;
    margin-top: -20px;
}

.hero-text {
    display: flex;
    flex-direction: column;

    margin-top: -40px;
}

