<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive Factory Maintenance</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="hero">
        <header class ="header">
           <a href="#" class="logo"><img src="./images/logo.png" alt="website Logo"  width= 100 height= 100> NVIMGUARD</a>
           <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#methods">Methodology</a>
            <a href="#pro-out">Project Output</a>
            <a href="#contact-us">Contact Us</a>
           </nav>
        </header>
        <div class="hero-text" id="home">
            <pre>
                Predictive
                Factory
                Maintenance
            </pre>
            <div class="hero-buttons">
                <button class="btn"><a class="links-1" href="/predict">Predict</a></button>
                <button class="btn"><a class="links-1" href="/chatbot">Chatbot</a></button>
            </div>
        </div>
    </div>

    <div class="workflow"  id="methods">
        <div class="workflow-column-content">
            <img src="./images/wheel.svg" alt="wheel">
            <div class="workflow-text">
                <p>Methodology followed</p>
                <ol>
                    <li>Data Collecion</li>
                    <li>Data Processing</li>
                    <li>Model Development</li>
                    <li>Integration with NIM</li>
                    <li>Flask Backend Development</li>
                    <li>Chatbot + Voice Assistant</li>
                    <li>Deployment</li>
                </ol>
            </div>
        </div>
        <img src="./images/workflow.png" id="workflow-img" alt="img">
    </div>
    
    <div class="Tech">
        <div class="techo">
            <div class="list">
                <p> Technologies Stacks to be Used </p>
                <ol>
                    <li>NVIDIA Inference Microservices (NIM)</li>
                    <li>Triton Inference Server</li>
                    <li>DeepStream</li>
                    <li>TensorRT</li>
                    <li>NVIDIA Fleet Command</li>
                    <li>NVIDIA Metropolis</li>
                    <li>NVIDIA AI Enterprise</li>
                </ol>
            </div>
        </div>
        <div class="imagess">
            <div class="image img1"></div>
            <div class="image img2"></div>
            <div class="image img3"></div>
            <div class="image img4"></div>
        </div>
        
    </div>

    <div class="project-op" id="pro-out">
        <h1>Project Output</h1>
        <div class="cards">
            <div class="card">
                <img src="./images/image-1.png">
                <div class="text-content">APPLICATION INTERFACE</div>
            </div>
            <div class="card">
                <img src="./images/image-2.png">
                <div class="text-content">PREDICTION RESULT</div>
            </div>
            <div class="card">
                <img src="./images/image-3.png">
                <div class="text-content">CHATBOT + VOICE ASSISTANT</div>
            </div>
        </div>
    </div>

    <div class="contact-us" id="contact-us">
        <img src="./images/e cell logo.png" alt="e-cell logo">
        <div class="contact-us-text">
            <pre>
<span class="contact-us-text-header">
Contact Us
Today
E-cell SCOE
Team
</span>
            
Phone
+91 8767950663
            
Email
ecellscoepune@gmail.com
            </pre>
        </div>

    </div>

   



    <script type="text/javascript" src = "app.js"></script>
</body>
</html>